@font-face {

    font-family: 'Zen-Loop';
  
    src: url('../components/fonts/ZenLoop-Regular.ttf') format('truetype');
   
    font-weight: 600;
  
    font-style: normal;
  
  }

  @font-face {

    font-family: 'Branda';
  
    src: url('../components/fonts/Branda-yolq.ttf') format('truetype');
  
    font-weight: 1000;
  
    font-style: normal;
  
  }

html {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Zen-Loop';
    font-weight: normal;
    vertical-align: baseline;
    font-size: 100%;
    line-height: 1;
    background-image: url('../images/black-splatters.svg');
    background-color: #cccccc;
    background-size: 1000px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/sunset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.headerContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.headerContent {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    text-align: center;
}

.restSymbol {
    /*background-image: url('../images/enso.png');*/
    max-height: 100%;
    max-width: 100%;
    margin: 0 0 20px;
    width: 120px;
    filter: saturate(500%) contrast(800%) brightness(500%) 
    invert(100%) sepia(50%) hue-rotate(120deg);

}

.restName {
    font-family: 'Branda';
    text-align: center;
    font-size: 4rem;
}

.navBar {
    display: flex;
    margin: 2rem auto auto auto;
    justify-content: center;
    align-content: center;
}

.navBtns {
    margin: 0 3rem;
    background: #cccccc;
    font-size: 1.5rem;
}

/* EVERYTHING BELOW IS FOR THE MENU*/

.menuDiv {
    margin-top: 3rem;
}

.menuColumns {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
    .menuColumns {
        grid-template-columns: 1fr;
        max-width: 90vw;
    }
 }

.menuColumn {
    width: 50%;
    justify-self: center;
    background: #cccccc;
    font-family: 'Zen-Loop';
}

@media screen and (max-width: 768px) {
    .menuColumn {
        width: 100%;
    }
 }

.titleDishes {
    text-align: center;
    font-size: 2.5rem;
}

.menuItem {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 20px 0;

}

.dishInfo {
    flex: 1;
    text-align: left;
}

.dishName {
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
}

.dishPrice {
    display: block;
    font-size: 100%;
}
.dishDesc {
    padding: 20px 0;
    font-size: 1.2rem;
    line-height: 1.4;
}

.dishCartBtn {
    background: transparent;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    padding: 3px 10px;
    text-align: center;
    white-space: nowrap;
}
.dishCartBtn:hover {
    background-color: #d74a56c9;
    color: #fff;
}
.wrapper{
    position:relative;
     z-index:1;
 }
 
 .wrapper::before{
     content:'';
     position:absolute;
     background: linear-gradient(0deg, #00000038 30%, #ffffff44 100%);
     width:100%;
     height:100%;
     z-index:-1;
     left: 0;
     top: 0;
 }

.is-right {
    float: right;
}

/* EVERYTHING ABOVE IS FOR THE MENU */

/* EVERYTHING BELOW IS FOR THE HOME INFO */

.restInfo {
    margin: 3rem auto 0 auto;
    display: grid
}

@media screen and (max-width: 768px) {
    .restInfo {
        max-width: 90vw;
    }
 }

.infoText {
    font-size: 1.5rem;
    width: 75%;
    background: #cccccc;
    justify-self: center;
}

@media screen and (max-width: 768px) {
    .infoText {
        width: 100%
    }
 }

 /* EVERYTHING ABOVE IS FOR THE HOME INFO */

 /* EVERYTHING BELOW IS FOR THE HOME INFO */

 .contactDiv {
    margin: 3rem auto 0 auto;
    display: grid
}



  /* EVERYTHING ABOVE IS FOR THE HOME INFO */