
  @font-face {
    font-family: 'Branda';
    src: url("../components/fonts/branda.woff2") format("woff2"),
         url("../components/fonts/branda.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Zen-Loop';
    src: url("../components/fonts/zenloop.woff2") format("woff2"),
         url("../components/fonts/zenloop.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Zen-Loop';
    font-weight: normal;
    vertical-align: baseline;
    font-size: 100%;
    line-height: 1;
    background-image: url('../images/black-splatters.svg');
    background-color: #fbfbf3;;
    background-size: 1100px;
}

.content {
    position: relative;
    min-height: 100vh;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../images/sunset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.headerContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.headerContent {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    text-align: center;
}

.restSymbol {
    max-height: 100%;
    max-width: 100%;
    margin: 0 0 20px;
    width: 120px;
    filter: saturate(500%) contrast(800%) brightness(500%) 
    invert(100%) sepia(50%) hue-rotate(120deg);

}

.restName {
    font-family: 'Branda';
    text-align: center;
    font-size: 4rem;
}

.mainContainer {
    padding-bottom: 2.5rem;
}

.navBar {
    display: flex;
    margin: 2rem auto auto auto;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .navBar {
        width: 100%;
    }
 }

.navBtns {
    padding: 1rem 3rem;
    background: #fbfbf3;;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .navBtns {
        padding: 1rem 1.7rem;
    }
 }

.navBtns:hover {
    background-color: black;
    color: #fbfbf3;;
    cursor: pointer;
}

.navBtns.active {
    background-color: black;
    color: #fbfbf3;;
    cursor: pointer;
}

/* EVERYTHING BELOW IS FOR THE MENU*/

.menuDiv {
    display: none;
    margin-top: 3rem;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.menuColumns {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
    .menuColumns {
        grid-template-columns: 1fr;
        max-width: 90vw;
    }
 }

.menuColumn {
    width: 50%;
    justify-self: center;
    background: #fbfbf3;;
    font-family: 'Zen-Loop';
}

@media screen and (max-width: 768px) {
    .menuColumn {
        width: 100%;
    }
 }

.titleDishes {
    text-align: center;
    font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
    .teppanyakiDishes.titleDishes {
        padding-top: 20px;
    }
 }

.menuItem {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 20px 0;
    border-bottom: 1px dotted black;
}

.dishInfo {
    flex: 1;
    text-align: left;
}

.dishName {
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
}

.dishPrice {
    display: block;
    font-size: 100%;
}
.dishDesc {
    padding: 20px 0;
    font-size: 1.2rem;
    line-height: 1.4;
}

.dishCartBtn {
    background: transparent;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    padding: 3px 10px;
    text-align: center;
    white-space: nowrap;
}

.dishCartBtn:hover {
    background-color: #d74a56c9;
    color: #fff;
}

.is-right {
    float: right;
}

/* EVERYTHING ABOVE IS FOR THE MENU */

/* EVERYTHING BELOW IS FOR THE HOME INFO */

.restInfo {
    display: none;
    margin: 3rem auto 0 auto;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

@media screen and (max-width: 768px) {
    .restInfo {
        max-width: 90vw;
    }
 }

.infoText {
    font-size: 1.5rem;
    width: 75%;
    background: #fbfbf3;;
    justify-self: center;
}

@media screen and (max-width: 768px) {
    .infoText {
        width: 100%
    }
 }

 /* EVERYTHING ABOVE IS FOR THE HOME INFO */

 /* EVERYTHING BELOW IS FOR THE CONTACT INFO */

 .contactDiv {
    display: none;
    margin-top: 3rem;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.contactColumns {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .contactColumns {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 90vw;
    }
 }

.contactColumn {
    justify-self: center;
    background: #fbfbf3;;
    font-family: 'Zen-Loop';
}

.mapDiv {
    max-width: 400px;
    height: 440px;
}

@media screen and (max-width: 768px) {
    .contactColumn {
        width: 100%;
    }
 }

.contactTitles {
    text-align: center;
    font-size: 2.5rem;
}

.mapImg {
    max-height: 100%;
    max-width: 100%;
    margin: 0 0 20px;
    height: 400px;
    width: 400px;

}

@media screen and (max-width: 768px) {
    .mapImg {
        width: 100%;
    }
 }

 .detailsDiv {
    background-color: black;
    color: #fbfbf3;;
    height: 440px;
    max-width: 350px;
 }

 .detailsContainer {
     height: 400px;
     width: 350px;
 }

 @media screen and (max-width: 768px) {
    .detailsContainer {
        width: 100%;
    }
 }

.detailItem {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 10px 10px;

}

.detailInfo {
    flex: 1;
    text-align: left;
}

.detailName {
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
}

.detailDesc {
    padding: 2px 0;
    font-size: 1.4rem;
    line-height: 1.4;
    word-wrap: break-word;
    width: 300px;
}

.email {
    color: #fbfbf3;
}

.email.hover {
    transform: scale(1.3);
    cursor: pointer;
}


.detailsTitle {
    background-color: #fbfbf3;
    color: black;
}

/* EVERYTHING BELOW IS FOR FOOTER*/

.footer {
    background-color: black;
    color: #fbfbf3; 
    text-align: center;
    width: 100%;
    height: 2.5rem;
}

.footerContent {
    padding-top: 0.5rem;
}

.footerText {
    font-size: 1.5rem;
}

/* EVERYTHING ABOVE IS FOR FOOTER */


  /* EVERYTHING BELOW IS FOR SELECTION */

.restInfo.active{
      display: grid;
  }

.menuDiv.active{
    display: inherit;
}

.contactDiv.active{
    display: inherit;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}